input::placeholder {
  font-weight: 400;
}

.col_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.col_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
.col_auto_3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  column-gap: 20px;
}

@media screen and (max-width: 900px) {
  .col_2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .col_3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .col_auto_3 {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}